{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% set url = url('<current>') %}

{% if 'about' in url|render|render %}
	{{ attach_library('chriscorchado/home-css') }}
{% endif %}

{% if 'resume' in url|render|render %}
	{{ attach_library('chriscorchado/resume-css') }}
{% endif %}

{% import _self as menus %}

{# We call a macro which calls itself to render the full tree. @see https://twig.symfony.com/doc/1.x/tags/macro.html #}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
	{% import _self as menus %}

	<nav class="navbar navbar-light bg-light fixed-top navbar-fixed-top shadow" aria-label="navigation-outer-wrapper">

		<div class="navbar-collapse" id="navbar-collapse" aria-label="navigation-collapse-wrapper">

			<div class="navbar-nav show" id="navbar-nav" role="navigation" aria-label="Navigation">

				{% set url = url('<current>') %}

				{% set activeHomeLink = '' %}

				{% if 'about' in url|render|render %}
					{% set activeHomeLink = 'home' %}
				{% endif %}

				<a href="{{ path('<front>') }}" rel="home" id="logo" class="{{ activeHomeLink }}">
					<img src="https://chriscorchado.com/images/chriscorchado-initials-logo.png" alt="{{ 'Home'|t }}"/>
				</a>

				{% if items %}
					{% for item in items %}

						{% set activeLink = '' %}

						{% if item.url|render|render in url|render|render %}
							{% set activeLink = 'nav-item-active' %}
						{% endif %}

						<a{{item.attributes}} href="{{item.url}}" class="nav-item nav-link {{activeLink}}">{{item.title}}</a>
					{% endfor %}
				{% endif %}
			</div>

			{% if 'about' in url|render|render or 'contact' in url|render|render %}

				{% if '/drupal8/' in url|render|render %}
					{% set subFolder ='/drupal8' %}
				{% endif %}

				<div id="profiles">

					<div class="icon" id="html-resume">
						<a href="{{subFolder}}/resume">

							<img alt="Link to HTML Resume with PDF and Word options" src="https://chriscorchado.com/images/htmlIcon.jpg"/>
							<span>Resume</span>
						</a>
					</div>

					<div class="icon" id="profile-linkedin">
						<a href="https://www.linkedin.com/in/chriscorchado/" target="_blank" rel="noopener" title="Opening a new window">
							<img alt="LinkedIn Icon" title="Link to LinkedIn Profile" src="https://chriscorchado.com/images/linkedInIcon.jpg">
							<span>LinkedIn</span>
						</a>
					</div>

					<div class="icon" id="profile-azure">
						<a href="https://docs.microsoft.com/en-us/users/corchadochrisit-2736/" target="_blank" rel="noopener" title="Opening a new window">
							<img alt="Azure Icon" title="Link to Azure Profile" src="https://chriscorchado.com/images/azureIcon.png">
							<span>Azure</span>
						</a>
					</div>

				</div>
			{% endif %}

			{% if 'resume' in url|render|render %}

				<div id="profiles">

					<div class="icon" id="pdf-resume">
						<a href="https://chriscorchado.com/resume/Chris-Corchado-resume-2020.pdf" target="_blank" rel="noopener" title="Opening a new window">
							<img alt="Link to PDF Resume" src="https://chriscorchado.com/images/pdfIcon.jpg"/>
							<span>PDF</span>
						</a>
					</div>

					<div class="icon" id="word-resume">
						<a href="https://chriscorchado.com/resume/Chris-Corchado-resume-2020.docx" title="File will download">
							<img alt="Link to MS Word Resume" src="https://chriscorchado.com/images/wordIcon.jpg"/>
							<span>Word</span>
						</a>
					</div>

				</div>
			{% endif %}


			{# search form action is set on load #}
			<form id="search-container" action="" method="get" role="search" class="pagination-no" accept-charset="UTF-8">

				<span id="search-count" aria-live="polite"></span>

				<label for="search-site">
					<span class="screen-reader">Enter search term</span>
					<input type="search" id="search-site" name="search_api" aria-label="Enter search term" aria-required="true"
						placeholder="Search items" maxlength="128" class="cc-btn search-btn">
				</label>

				<label for="search-submit">
					<span class="screen-reader">Search</span>
					<button type="submit" id="search-submit" aria-label="Search" class="search-btn" value="Search" role="button">Search</button>
				</label>

				<label for="search-clear-btn">
					<span class="screen-reader">Clear Search</span>
					<button type="reset" id="search-clear-btn" aria-label="Clear Search" class="search-btn" title="Clear search" value="Clear" role="button">Clear</button>
				</label>

				<div id="pagination"></div>

			</form>
		</div>
	</nav>
{% endmacro %}
