<div>
  <label>Remove the list to regenerate images</label>
  <a class="button" style="margin: 2em 0" href="{{ path('pdf_slideshow.list_controller_delete') }}">{% trans %}Remove all{% endtrans %}</a>
</div>
<table class="views-table views-view-table cols-2 responsive-enabled sticky-enabled">
  <thead>
  <tr>
    <th>PDF file uri (fid)</th>
    <th>Image file url (fid)</th>
  </tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <td>{{ item.pdf_file_id.url }} ({{ item.pdf_file_id.id }})</td>
      <td><a href="{{ item.image_file_id.url }}">{{ item.image_file_id.url }}</a> ({{ item.image_file_id.id }})</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
