{#
/**
 * @file
 * Theme override of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 */
#}

{% if '/company-screenshot/' in attributes.src|render|render %}

	<img loading="lazy" src="{{attributes.src}}" class="company-screenshot" alt="{{attributes.alt}} screenshot" title="Screenshot of {{attributes.alt}}"/>

{% endif %}


{% if '/project-screenshot/' in attributes.src|render|render %}

	<div class="project-item shadow" title="{{attributes.alt}}">

		<a href="{{attributes.src}}" class="gallery">

			<div class="project-item-desc">
				<script>
					document.write(highlightSearch("{{ attributes.alt }}", urlParams.get("search_api")))
				</script>
			</div>

			<span><img loading="lazy" src="{{attributes.src}}" alt="Screenshot of {{attributes.alt}}"/></span>

		</a>
	</div>

{% endif %}
