{#
/**
 * @file
 * Theme override of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 */
#}

{% set site_url = url("<current>") %}
{% set site_url_subFolder = '' %}

{# TODO: JIRA: D8-23 - move highlightSearch.js to libraries.yml #}
{% if 'drupal8' in site_url|render|render  %}
  {% set site_url_subFolder = "/drupal8"  %}
{% endif %}

<script src="{{ site_url_subFolder }}/themes/custom/chriscorchado/js/highlightSearch.js"></script>

{% if '/company-screenshot/' in attributes.src|render|render %}

  <img loading="lazy" src="{{attributes.src}}" class="company-screenshot" alt="{{attributes.alt}}" title="{{attributes.alt}}"/>

{% endif %}


{% if '/project-screenshot/' in attributes.src|render|render %}

  <div class="project-item shadow" title="{{attributes.alt}}">

    <a href="{{attributes.src}}" class="gallery">

      <div class="project-item-desc"><script>document.write(highlightSearch("{{ attributes.alt }}",urlParams.get("search_api")))</script></div>

      <img loading="lazy" src="{{attributes.src}}" alt="{{attributes.alt}}" title="{{attributes.alt}}" />
    </a>
  </div>

{% endif %}
