{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{{ attach_library('chriscorchado/course-css') }}

<div class="container courses-container row">

  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  {% set recordTotal = 0 %}

  {% for row in rows %}

    {% set recordTotal = recordTotal + 1 %}

    {%
      set row_classes = [
        default_row_class ? 'views-row',
      ]
    %}

    {{- row.content -}}

  {% endfor %}
</div>

<div id="record-total" class="hide">
	{{ recordTotal }}
</div>

{% set site_url = url("<current>") %}
{% set site_url_subFolder = '' %}

{# Set subfolder for live site #}
{% if 'drupal8' in site_url|render|render  %}
  {% set site_url_subFolder = "/drupal8"  %}
{% endif %}

<script src="{{ site_url_subFolder }}/themes/custom/chriscorchado/js/itemCount.js"></script>
<script src="{{ site_url_subFolder }}/themes/custom/chriscorchado/js/search.js"></script>
<script src="{{ site_url_subFolder }}/themes/custom/chriscorchado/js/pageLoaded.js"></script>

