{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{# TODO: include {% include 'search-config.twig' %} #}
{{ attach_library('chriscorchado/company-css') }}

{% set site_url = url("<current>") %}
{% set site_url_subFolder = '' %}

{# Set subfolder for live site - TODO: move highlightSearch.js to libraries.yml #}
{% if 'drupal8' in site_url|render|render  %}
  {% set site_url_subFolder = "/drupal8"  %}
{% endif %}

<script src="{{ site_url_subFolder }}/themes/custom/chriscorchado/js/highlightSearch.js"></script>

{% for field in fields -%}

  {%- if field.label == "Company" -%}
    <div class="company-name">
      <script>document.write(highlightSearch("{{ field.content }}",urlParams.get("search_api")))</script>
    </div>
  {%- endif -%}

  {%- if field.label == "Job Title" -%}
    <div class="company-job-title">
      <script>document.write(highlightSearch("{{ field.content }}",urlParams.get("search_api")))</script>
    </div>
  {%- endif -%}

  {%- if field.label == "Body" -%}

    {% set bodyHTML = field.content| replace({"\n": "", "\r": "", "\t": ""}) %}

    <div class="body-container">
      <script>
        document.write(highlightSearch("{{ bodyHTML }}",urlParams.get("search_api")));
      </script>
    </div>
  {%- endif -%}

  {%- if field.label == "Screenshot" -%}
    <div class="screenshot-container">{{ field.content }}</div>
  {%- endif -%}

  {%- if field.label == "Start Date" -%}
    {% set startDate = field.content %}
  {%- endif -%}

  {%- if field.label == "End Date" -%}
    {% set endDate = field.content %}
  {%- endif -%}

  {%- if startDate and endDate -%}
    <div class="employment-dates">
      {{ startDate }} - {{ endDate }}
    </div>
  {%- endif -%}

{%- endfor %}
