{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{{ attach_library('chriscorchado/project-css') }}
{{ attach_library('chriscorchado/header-js') }}

{% for field in fields -%}

	{%- if field.label == "Title" -%}
		<div class="project-title">
      <script>document.write(highlightSearch("{{ field.content }}",urlParams.get("search_api")))</script>
    </div>

    {# used for the video name, if there is one #}
    {% set title = field.content %}

	{%- endif -%}

	{%- if field.label == "Company" -%}
		{% set company = field.content %}
	{%- endif -%}

	{%- if field.label == "Date" -%}
		<div class="project-company">
      <script>document.write(highlightSearch("{{ company }}",urlParams.get("search_api")))</script>
			<span class="project-date">
        <script>document.write(highlightSearch("({{ field.content }})",urlParams.get("search_api")))</script>
      </span>
    </div>
	{%- endif -%}

	{%- if field.label == "Body" -%}
     {% set bodyHTML = field.content| replace({"\n": "", "\r": "", "\t": ""}) %}
		<div class="body-container">
      <script>document.write(highlightSearch("{{ bodyHTML }}",urlParams.get("search_api")))</script>
    </div>
	{%- endif -%}

	{%- if field.label == "Screenshot" -%}

    {% set rawValue = field.content|raw %}

    {# used a space to delimit multiple images on the content type because delimiting with a comma adds double quotes #}
    {% set file = rawValue|split('<div class="project-item shadow"') %}

    {# used to set the grid class to either 1, 2 or 3 columns #}
    {% set imageCount = file|length - 1 %}

    {# ensure a maximum of 3 columns #}
    {%- if imageCount > 3 -%}
      {% set imageCount = 3 %}
    {%- endif -%}

    <section data-featherlight-gallery="" data-featherlight-filter="a" class="project-item-grid project-items{{ imageCount }}">
      {{ field.content }}
    </section>

	{%- endif -%}

  {%- if field.label == "Video URL" and field.content -%}
    <span title="Play Video">
      <a class="play-video" href="https://chriscorchado.com/video.html?url={{ field.content }}&amp;name={{ title }}" target="_blank">Play Video
        <img loading="lazy" src="https://chriscorchado.com/images/play_video_new_window_icon.png" alt="Play Video Icon" width="20">
      </a>
    </span>
	{%- endif -%}

	{%- if field.label == "Technology" -%}
		<div class="project-technology"><script>document.write(highlightSearch("{{ field.content }}",urlParams.get("search_api")))</script></div>
	{%- endif -%}

{%- endfor %}
