{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
<div class="page-title-container">
{{ title_prefix }}
{% if title %}

  {# Override page titles #}
  {% if 'History' in title|render|render %}
    <h1{{ title_attributes }}>Work {{ title }}</h1>

  {% elseif 'Courses' in title|render|render %}
    <h1{{ title_attributes }}>{{ title }} and Awards</h1>

  {% elseif 'Project' in title|render|render %}
    <h1{{ title_attributes }}>{{ title }} Samples</h1>

  {% elseif 'Contact' in title|render|render %}
    <h1{{ title_attributes }}>{{ title }} Me</h1>

  {% else %}
    <h1{{ title_attributes }}>{{ title }}</h1>
  {% endif %}

{% endif %}
{{ title_suffix }}
</div>
